################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/W12-assignment-template
/ConsoleRpg/bin/
/ConsoleRpg/obj/
/ConsoleRpgEntities/bin/
/ConsoleRpgEntities/obj/
