################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/W12-assignment-template
/ConsoleRpg/bin/Debug/net6.0
/ConsoleRpg/obj/Debug/net6.0
/ConsoleRpgEntities/bin/Debug/net6.0
/ConsoleRpgEntities/obj/Debug/net6.0
